# System Trash
.DS_Store

# Cron jobs
queue/tasks.cron

# Backup files 
*.bak

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
bin/*

# Output of the go coverage tool
*.out
coverage.txt


# IDE exclude
.idea/
.vscode/

# Golang Vendor directory
#vendor/*

# Helm Charts
*.tgz

# config
config.yaml
build/*
